
<div class="text-white container-full-width">
    <nav class="navbar navbar-expand-lg navbar-dark">
        <div class="container">
            <a class="text-white navbar-brand float-right">Time Tracker</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar1">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbar1">
                <ul class="navbar-nav nav">
                    <li class="nav-item">
                        <a class="nav-link active" href="index.php">Home</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="autotime.php">Auto Time</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="manualtime.php">Manual Time</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="userProfile.php">Account</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#about">Sign Out</a>
                    </li>

                </ul>
            </div>
        </div>
    </nav>

</div>
